'name': 'GDB'
'fileTypes': ['gdb']

'scopeName': 'source.gdb'
'patterns': [

    #Comments
    #Blocks
    {
        'match': '!.*$'
        'name': 'comment.line.character.gdb'
    }

    #Tag

      {
        'begin': 'Type'
        'end': 'A_TAG'
        'name': 'tag.header.gdb'
      }

      {
        'begin': 'NEXT\\sBLO?C?K'
        'end': 'A_SA3'
        'name': 'tag.fields.gdb'
        'patterns': [{'include': 'fields.gdb'}]
      }






]
